html{
	min-height: 100%;
	font-size: 62.5%;
}
body{
	background: url($main-asset-directory+'background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height: 100%;
	color: #fff;
	font-family: $bodyfont;
	font-weight: normal;
	padding-top: $gutter*10;
	@include font-size($base-type-size, body);
}

/* Type */
.widget{
	@include header-sizes($base-type-size);
	@include paragraph-sizes($base-type-size);
	max-width: 100%;
}