/* line 6, ../sass/mains/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../sass/mains/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/mains/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/mains/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/mains/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/mains/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../sass/mains/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../sass/mains/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Breakpoints */
/* Specifics */
/*Viewport Sizes*/
/*asset library*/
/*Grids, measurements, etc...*/
/*colors*/
/* Style Functions */
/* Standard Mixins */
/* line 1, ../sass/mains/_azubu-reset.scss */
html {
  min-height: 100%;
  font-size: 62.5%;
}

/* line 5, ../sass/mains/_azubu-reset.scss */
body {
  background: url("../../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding-top: 100px;
  font-size: 1.6rem;
  line-height: 2.08rem;
}

/* Type */
/* line 20, ../sass/mains/_azubu-reset.scss */
.widget {
  max-width: 100%;
}
/* line 182, ../sass/mains/_assets.scss */
.widget h1 {
  font-size: 4.8rem;
  line-height: 6.24rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 184, ../sass/mains/_assets.scss */
.widget h1.upper-case {
  text-transform: uppercase;
}
/* line 188, ../sass/mains/_assets.scss */
.widget h2 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 190, ../sass/mains/_assets.scss */
.widget h2.upper-case {
  text-transform: uppercase;
}
/* line 194, ../sass/mains/_assets.scss */
.widget h3 {
  font-size: 3.2rem;
  line-height: 4.16rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 196, ../sass/mains/_assets.scss */
.widget h3.upper-case {
  text-transform: uppercase;
}
/* line 200, ../sass/mains/_assets.scss */
.widget h4 {
  font-size: 2.4rem;
  line-height: 3.12rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 202, ../sass/mains/_assets.scss */
.widget h4.upper-case {
  text-transform: uppercase;
}
/* line 206, ../sass/mains/_assets.scss */
.widget h5 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 208, ../sass/mains/_assets.scss */
.widget h5.upper-case {
  text-transform: uppercase;
}
/* line 212, ../sass/mains/_assets.scss */
.widget h6 {
  font-size: 1.6rem;
  line-height: 2.08rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 214, ../sass/mains/_assets.scss */
.widget h6.upper-case {
  text-transform: uppercase;
}
/* line 221, ../sass/mains/_assets.scss */
.widget p {
  font-size: 1.6rem;
  line-height: 2.24rem;
  margin-bottom: 2.24rem;
}
/* line 225, ../sass/mains/_assets.scss */
.widget blockquote {
  font-size: 1.44rem;
  line-height: 2.16rem;
  font-style: italic;
  display: block;
  margin-bottom: 2.24rem;
}
/* line 167, ../sass/mains/_assets.scss */
.widget blockquote:before {
  content: '"';
}
/* line 171, ../sass/mains/_assets.scss */
.widget blockquote:after {
  content: '"';
}

/* line 1, ../sass/mains/_grid-and-layout.scss */
header {
  height: 100px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 481px) {
  /* line 1, ../sass/mains/_grid-and-layout.scss */
  header {
    padding: 30px 10px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/mains/_grid-and-layout.scss */
  header {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 1921px) {
  /* line 1, ../sass/mains/_grid-and-layout.scss */
  header {
    padding: 30px 40px;
  }
}
/* line 21, ../sass/mains/_grid-and-layout.scss */
header h1 {
  width: 220px;
  height: 40px;
  display: block;
  background-image: url("../../assets/logo.png");
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  text-indent: -9999px;
}

/* Layout */
/* line 40, ../sass/mains/_grid-and-layout.scss */
.widget-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 400px;
}
@media screen and (max-width: 480px) {
  /* line 40, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 40, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (min-width: 799px) and (max-width: 1023px) {
  /* line 40, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 40, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 40, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (max-width: 480px) {
  /* line 86, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 86, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (min-width: 799px) and (max-width: 1023px) {
  /* line 86, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 86, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 86, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (max-width: 480px) {
  /* line 104, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 104, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}
@media screen and (min-width: 799px) and (max-width: 1023px) {
  /* line 104, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 104, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 104, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}

/* line 44, ../sass/mains/_grid-and-layout.scss */
.widget {
  border-left: 2px solid #0d2736;
  border-top: 2px solid #094b68;
  border-right: 2px solid #0d2736;
  border-bottom: 2px solid #0d2736;
  padding: 5px;
  background-color: #0f1118;
  position: relative;
}
/* line 133, ../sass/mains/_assets.scss */
.widget h1 {
  display: block;
  height: 62px;
  margin-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2.24rem;
}
/* line 140, ../sass/mains/_assets.scss */
.widget .content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.24rem;
  height: 298px;
  overflow-y: auto;
}
/* line 146, ../sass/mains/_assets.scss */
.widget .content img {
  max-width: 100%;
}
/* line 46, ../sass/mains/_grid-and-layout.scss */
.widget:hover {
  border-color: #0574a0;
}

/* line 1, ../sass/mains/_widget.scss */
.content-widget, .video-widget, .gear-widget {
  height: 360px;
}
/* line 4, ../sass/mains/_widget.scss */
.content-widget .content, .video-widget .content, .gear-widget .content {
  height: 360px;
}
/* line 7, ../sass/mains/_widget.scss */
.content-widget h1.title-bar, .video-widget h1.title-bar, .gear-widget h1.title-bar {
  font-size: 1.6rem;
  line-height: 3rem;
  height: 3rem;
  margin: 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #555;
}

/* line 24, ../sass/mains/_widget.scss */
.content-widget .content, .gear-widget .content {
  height: 330px;
  overflow-y: auto;
}
/* line 29, ../sass/mains/_widget.scss */
.content-widget .gear-container, .gear-widget .gear-container {
  height: 96px;
  width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px 0;
  overflow: hidden;
}
/* line 36, ../sass/mains/_widget.scss */
.content-widget .gear-image, .gear-widget .gear-image {
  width: 96px;
  height: 96px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
}
/* line 47, ../sass/mains/_widget.scss */
.content-widget .gear-text h2, .gear-widget .gear-text h2 {
  font-size: 2.5rem;
  line-height: 2.7rem;
  margin-bottom: 0;
}
/* line 52, ../sass/mains/_widget.scss */
.content-widget .gear-text a, .gear-widget .gear-text a {
  color: #0574a0;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  -moz-transition: all, 0.3s, ease-out;
  -o-transition: all, 0.3s, ease-out;
  -webkit-transition: all, 0.3s, ease-out;
  transition: all, 0.3s, ease-out;
}
/* line 59, ../sass/mains/_widget.scss */
.content-widget .gear-text a:hover, .gear-widget .gear-text a:hover {
  color: #329dc8;
}
/* line 63, ../sass/mains/_widget.scss */
.content-widget .gear-text .small-text, .gear-widget .gear-text .small-text {
  color: #555;
  font-size: 1.28rem;
  text-transform: uppercase;
}
/* line 70, ../sass/mains/_widget.scss */
.content-widget .content-container, .gear-widget .content-container {
  height: 120px;
  width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px 0;
  overflow: hidden;
}
/* line 77, ../sass/mains/_widget.scss */
.content-widget .content-container .content-image, .gear-widget .content-container .content-image {
  width: 118px;
  height: 118px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  display: block;
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid #0d2736;
  -moz-transition: all, 0.3s, ease-out;
  -o-transition: all, 0.3s, ease-out;
  -webkit-transition: all, 0.3s, ease-out;
  transition: all, 0.3s, ease-out;
  position: relative;
  overflow: hidden;
}
/* line 91, ../sass/mains/_widget.scss */
.content-widget .content-container .content-image:hover, .gear-widget .content-container .content-image:hover {
  border: 1px solid #094b68;
}
/* line 93, ../sass/mains/_widget.scss */
.content-widget .content-container .content-image .category, .gear-widget .content-container .content-image .category {
  display: block;
  color: #fff;
  background: #329dc8;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.2rem;
  padding: 0 2px;
  position: absolute;
  left: 0;
  bottom: 10px;
}
/* line 108, ../sass/mains/_widget.scss */
.content-widget .content-container .content-text h2, .gear-widget .content-container .content-text h2 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 0;
}
/* line 112, ../sass/mains/_widget.scss */
.content-widget .content-container .content-text h2 a, .gear-widget .content-container .content-text h2 a {
  color: #0574a0;
  font-weight: 600;
  text-decoration: none;
  -moz-transition: all, 0.3s, ease-out;
  -o-transition: all, 0.3s, ease-out;
  -webkit-transition: all, 0.3s, ease-out;
  transition: all, 0.3s, ease-out;
}
/* line 119, ../sass/mains/_widget.scss */
.content-widget .content-container .content-text h2 a:hover, .gear-widget .content-container .content-text h2 a:hover {
  color: #329dc8;
}
/* line 123, ../sass/mains/_widget.scss */
.content-widget .content-container .content-text .small-text, .gear-widget .content-container .content-text .small-text {
  color: #555;
  font-size: 1.28rem;
  text-transform: uppercase;
}
/* line 129, ../sass/mains/_widget.scss */
.content-widget .content-container .content-text .excerpt, .gear-widget .content-container .content-text .excerpt {
  color: #e6e8ea;
  font-size: 1.6rem;
  text-transform: none;
}
