/* line 6, ../sass/mains/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../sass/mains/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/mains/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/mains/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/mains/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/mains/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../sass/mains/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../sass/mains/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Breakpoints */
/* Specifics */
/*Viewport Sizes*/
/*asset library*/
/*Grids, measurements, etc...*/
/*colors*/
/* Style Functions */
/* Standard Mixins */
/* line 1, ../sass/mains/_azubu-reset.scss */
html {
  min-height: 100%;
  font-size: 62.5%;
}

/* line 5, ../sass/mains/_azubu-reset.scss */
body {
  background: url("../../assets/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding-top: 100px;
  font-size: 1.6rem;
  line-height: 2.08rem;
}

/* Type */
/* line 20, ../sass/mains/_azubu-reset.scss */
.widget {
  max-width: 100%;
}
/* line 180, ../sass/mains/_assets.scss */
.widget h1 {
  font-size: 4.8rem;
  line-height: 6.24rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 182, ../sass/mains/_assets.scss */
.widget h1.upper-case {
  text-transform: uppercase;
}
/* line 186, ../sass/mains/_assets.scss */
.widget h2 {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 188, ../sass/mains/_assets.scss */
.widget h2.upper-case {
  text-transform: uppercase;
}
/* line 192, ../sass/mains/_assets.scss */
.widget h3 {
  font-size: 3.2rem;
  line-height: 4.16rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 194, ../sass/mains/_assets.scss */
.widget h3.upper-case {
  text-transform: uppercase;
}
/* line 198, ../sass/mains/_assets.scss */
.widget h4 {
  font-size: 2.4rem;
  line-height: 3.12rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 200, ../sass/mains/_assets.scss */
.widget h4.upper-case {
  text-transform: uppercase;
}
/* line 204, ../sass/mains/_assets.scss */
.widget h5 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 206, ../sass/mains/_assets.scss */
.widget h5.upper-case {
  text-transform: uppercase;
}
/* line 210, ../sass/mains/_assets.scss */
.widget h6 {
  font-size: 1.6rem;
  line-height: 2.08rem;
  font-weight: 600;
  margin-bottom: 2.24rem;
}
/* line 212, ../sass/mains/_assets.scss */
.widget h6.upper-case {
  text-transform: uppercase;
}
/* line 219, ../sass/mains/_assets.scss */
.widget p {
  font-size: 1.6rem;
  line-height: 2.24rem;
  margin-bottom: 2.24rem;
}
/* line 223, ../sass/mains/_assets.scss */
.widget blockquote {
  font-size: 1.44rem;
  line-height: 2.16rem;
  font-style: italic;
  display: block;
  margin-bottom: 2.24rem;
}
/* line 165, ../sass/mains/_assets.scss */
.widget blockquote:before {
  content: '"';
}
/* line 169, ../sass/mains/_assets.scss */
.widget blockquote:after {
  content: '"';
}

/* line 1, ../sass/mains/_grid-and-layout.scss */
header {
  height: 100px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 481px) {
  /* line 1, ../sass/mains/_grid-and-layout.scss */
  header {
    padding: 30px 10px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, ../sass/mains/_grid-and-layout.scss */
  header {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 1921px) {
  /* line 1, ../sass/mains/_grid-and-layout.scss */
  header {
    padding: 30px 40px;
  }
}
/* line 21, ../sass/mains/_grid-and-layout.scss */
header h1 {
  width: 220px;
  height: 40px;
  display: block;
  background-image: url("../../assets/logo.png");
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 35, ../sass/mains/_grid-and-layout.scss */
.container {
  padding: 30px 0;
}
@media screen and (min-width: 481px) {
  /* line 35, ../sass/mains/_grid-and-layout.scss */
  .container {
    padding: 30px 10px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 35, ../sass/mains/_grid-and-layout.scss */
  .container {
    padding: 30px 20px;
  }
}
@media screen and (min-width: 1921px) {
  /* line 35, ../sass/mains/_grid-and-layout.scss */
  .container {
    padding: 30px 40px;
  }
}

/* Layout */
/* line 52, ../sass/mains/_grid-and-layout.scss */
.widget-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 400px;
}
@media screen and (max-width: 480px) {
  /* line 52, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 52, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (min-width: 799px) and (max-width: 1023px) {
  /* line 52, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 52, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 52, ../sass/mains/_grid-and-layout.scss */
  .widget-container {
    width: 1600px;
  }
}
@media screen and (max-width: 480px) {
  /* line 84, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 84, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (min-width: 799px) and (max-width: 1023px) {
  /* line 84, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 84, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 84, ../sass/mains/_assets.scss */
  .widget-container.standard {
    width: 800px;
  }
}
@media screen and (max-width: 480px) {
  /* line 102, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* line 102, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}
@media screen and (min-width: 799px) and (max-width: 1023px) {
  /* line 102, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  /* line 102, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 102, ../sass/mains/_assets.scss */
  .widget-container.small {
    width: 400px;
  }
}

/* line 56, ../sass/mains/_grid-and-layout.scss */
.widget {
  border-left: 2px solid #0d2736;
  border-top: 2px solid #094b68;
  border-right: 2px solid #0d2736;
  border-bottom: 2px solid #0d2736;
  padding: 5px;
  background-color: #0f1118;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 131, ../sass/mains/_assets.scss */
.widget h1 {
  display: block;
  height: 62px;
  margin-bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2.24rem;
}
/* line 138, ../sass/mains/_assets.scss */
.widget .content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2.24rem;
  height: 298px;
  overflow-y: auto;
}
/* line 144, ../sass/mains/_assets.scss */
.widget .content img {
  max-width: 100%;
}
/* line 58, ../sass/mains/_grid-and-layout.scss */
.widget:hover {
  border-color: #0574a0;
}

/* line 63, ../sass/mains/_grid-and-layout.scss */
.columns {
  width: 25%;
}
